.burger {
  display: none;
  position: relative;
  width: 44px;
  height: 44px;

  &__line {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 100px;
    width: 24px;
    height: 2px;
    background-color: var(--white);
    transform: translateX(-50%) translateY(-50%);

    &:first-child {
      margin-top: -7px;
    }

    &:last-child {
      left: 17px;
      margin-top: 7px;
      width: 17px;
      transform: translateY(-50%);
    }
  }

  @include high-desktop {
    display: block;
  }
}

.burger-close {
  position: absolute;
  right: var(--container-offset);
  top: 30px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  width: 44px;
  height: 44px;
  background-image: url("../img/header/close.svg");
  background-position: center;
  background-size: 14px 12px;
  background-repeat: no-repeat;
}
