.header {
  height: 74px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include tablet {
    height: 56px;
  }
}

.header__order {
  z-index: 3;
  flex-shrink: 0;
}

.header__btn {
  margin-right: 20px;

  @include tablet {
    margin-right: 0;
  }
}

.header__phone {

  @include tablet {
    display: none;
  }
}