.main {
  flex-grow: 1;
  width: 100%;
  padding-bottom: 30px;
  @include small-tablet {
    padding-bottom: 20px;
  }
}

.main--intro {
  display: flex;
  flex-direction: column;
  background-image: url("../img/main/kid@1x.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 430px 350px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main/kid@2x.png");
  }

  @include tablet {
    background-size: 380px auto;
  }

  @include small-tablet {
    background-image: none;
  }
}