.nav {
  margin-right: 20px;
  margin-bottom: 8px;

  @include tablet {
    visibility: hidden;
    opacity: 0;
  }

  @include tablet {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    opacity: 0.9;
    padding-top: 106px;
    padding-left: 24px;
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;

  @include tablet {
    flex-direction: column;
    margin-bottom: 50px;
  }
}

.nav__item {
  display: flex;
  align-items: center;
  padding: 3px 0;

  &--main {
    display: none;

    @include tablet {
      display: inline-block;
    }
  }
}

.nav__item:not(:last-child):after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #B0ACAC;
  border-radius: 50%;
  margin-left: 17px;

  @include tablet {
    display: none;
  }
}

.nav__item:not(:last-child) {
  margin-right: 16px;

  @include tablet {
    margin-right: 0;
    margin-bottom: 35px;
  }
}

.nav__link {
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
  text-transform: uppercase;
  color: var(--white);
}

.nav__mobile-footer {
  display: none;

  @include tablet {
    display: block;
    padding-top: 30px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      margin-left: -24px;
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: var(--white);
      opacity: 0.24;
    }
  }
}

.nav_phone {
  display: block;
  margin-bottom: 20px;
}